<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>FUNCIONANDO</h1>


<%# <ul id="ul_jogos-gerados-ruby"> %>
<form action="/sorte"  class="form-inline" id="numeroSorte" name="nsorte"> <!-- método GET ou POST: method="POST"-->
 <%#  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %> <%# essa linha serve para o método POST, onde é exigido que haja um token de autenticidade %>
  <%# <input type="hidden" name="authenticity_token" value="6mcCvU7ZazpIBcJTptw/8y4EucmzccFWli7tFUzX6IJEx8wq6PFC7m4rA1Jy+W4YW1hlhYhSOyhZefWtOM5ofQ=="> %>
  <div class="form-group">
  
    <%# <ul>
      
      <% jogo.each do |numero| %
      <li id="jogos-gerados-ruby-numeros-sorte">
        <a ><%= numero % </a>
        
        <% end %
      </li>

      <li id="jogos-gerados-ruby-numeros-sorte">100</li>
    </ul> %>

    <ul>
      <% jogo = (1..60).to_a %>
      <% jogo.each do |numero| %>
      <li id="n<%= numero %>" class="numero-sorte jogos-gerados-ruby-numeros-sorte" value=<%= "#{numero}" %>> 
        <%= numero %>
        <% end %>
      </li>
    </ul>



  <input form="numeroSorte" id="numeros-da-sorte-fim" name="meusNumeros" type="text" class="form-control" value="" style="display: none">



     <%# <select form="nsorte" name="meusnumeros" class="form-control" > %>
    <%# <select form="teste" name="sorteio2" class="form-control" id="sorteio"  required >
      <option id="numeros-da-sorte-fim" value="10"></option>
    </select> %>

    <%# <ul>
      <% jogo = (1..60).to_a 
      <% jogo.each do |numero| 
      <li id="jogos-gerados-ruby-numeros-sorte">
      <label for="number"><%= numero </label><br>
      <input type="number" placeholder="<%= numero " value="<%= numero ">
        <%= numero 
        <% end 
      </li>
    </ul> %>
    <div id="div-do-botao-numeros-da-sorte">
      <button type="submit" id="meus-numeros-da-sorte" class=" btn btn-primary btn-lg" onclick="testeQuantidade()"disabled="true"><span class="fas fa-sack-dollar">
      </span> Checar Meus Números</button>
      <div id="alerta">
        <h6 id="mensagem-alerta">Escolha 6 números! Só então você poderá testar sua sorte. ☘️</h6>
      </div>
    </div>
  </div>
</form>

<button type="button" id="limpar" onclick="limpar()" class="btn btn-primary">Limpar Marcações</button>

<%# <a href="/">Home</a>  obs.: não recarrega as funções do Javascript  
<%= link_to 'Home', root_path  obs.: não recarrega as funções do Javascript %>
<button id="botao-root" class="btn btn-primary">INÍCIO</button> 

<p>
  <%= @numeros_da_sorte %>
</p>





<script>

var arrayDaSorte = []
window.onclick = e => {
    var tag_sorte = e.target.tagName
    if ((tag_sorte == "LI") && (e.target.classList.contains("selected") == false) && (arrayDaSorte.length < 6)) {
      // var idSelecionado = e.target.id
      var numeroSorte = e.target.value
      arrayDaSorte.push(numeroSorte)
      e.target.classList.add("selected");
    } else if (tag_sorte == "LI" && e.target.classList.contains("selected") == true) {
      var retirarNumeroSorte = e.target.value
      for( var i = 0; i < arrayDaSorte.length; i++){                              
        if ( arrayDaSorte[i] === retirarNumeroSorte) { 
            arrayDaSorte.splice(i, 1); 
            i--; 
        }
      e.target.classList.remove("selected");
      }
    }
    arrayDaSorte.sort()
    document.getElementById("numeros-da-sorte-fim").setAttribute("value", `${arrayDaSorte}`)
    var botao = document.getElementById("meus-numeros-da-sorte")
    var mensagemAlerta = document.getElementById("alerta")
    if (arrayDaSorte.length == 6) {
      botao.removeAttribute("disabled");
      while (mensagemAlerta.hasChildNodes()) {
        mensagemAlerta.removeChild(mensagemAlerta.firstChild)
      };
    } else {
      botao.setAttribute("disabled", "true")
      if (document.getElementById("mensagem-alerta") == null) {
        document.getElementById("alerta").innerHTML =  '<h6 id="mensagem-alerta">Escolha 6 números! Só então você poderá testar sua sorte. ☘️</h6>'
      }
    }
}




     

function limpar() {
  var numerosTodos = document.getElementsByClassName("numero-sorte");
  var intLength = numerosTodos.length;
  var total = 0;
  for(var i = 0; i < intLength; i++) {
        var check_numero = numerosTodos[i];
        if (check_numero.classList.contains("selected") == true) {
          check_numero.classList.remove("selected");
        };
  };
  if (arrayDaSorte) {
    arrayDaSorte = []
  }
  document.getElementById("numeros-da-sorte-fim").setAttribute("value", "");
}



// const elemento = document.getElementById("elemento");

// if (elemento.classList) elemento.classList.add("red");
// else elemento.className += " red";

// function numerosDaSorte() {
//   var array = []
//   var numerosTodos = document.getElementsByClassName("numero-sorte");
//   var intLength = numerosTodos.length;
//   var total = 0;
//   for(var i = 0; i < intLength; i++) {
//         var check_numero = numerosTodos[i];
//         if (check_numero.classList.contains("selected") == true) {
//           array.push(check_numero.value)
//           total += 1
//         }
//   };
//   if (total > 0) {
//   document.getElementById("demo").innerHTML = array } else {
//   document.getElementById("demo").innerHTML = "NÃO"};
// }





</script>